.app__events{
    position: relative;
}

.app__event:hover{
    opacity: 0.8;
}
.app__events-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  .app__events-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .app__event {
    background-color:#804040;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
   
  }
  
  .app__event-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .app__event-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#804040;
    color:#ffffff;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .app__event-details {
    padding: 20px;
    color: #ffffff;
  }
  
  .app__event-date {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .app__event-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .app__event-link {
    display: inline-block;
    background-color:#804040;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .app__section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }



  